# Dependencies
node_modules

# Compilation files
artifacts
cache

# Deployed metadata
FrontEnd/XianPazTokenA.json
FrontEnd/XianPazTokenB.json
FrontEnd/SimpleSwap.json

# Environment variable files
.env

# Compilation files
ignition

# Converage run data
coverage
coverage.json
